@use 'styles/print';

.App {
}

.App_nav {
  @include print.hide-on-print();
  position: sticky;
  top: 0;

  padding: 20px 0;
  background: white;
  border-bottom: solid 1px gray;
}

.App_nav_content {
  width: 100%;
  padding: 0 10px;

  @media screen and (min-width: 1441px) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.App_content {
  width: 100%;

  display: flex;
  flex-direction: row;

  @media not print {
    padding-top: 20px;
  }

  @media screen, not print and (min-width: 1441px) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.App_content_configuration {
  @include print.hide-on-print();

  flex: auto 1 1;
  padding: 10px;
}

.App_content_grid {
  @media not print {
    flex: 0 1 auto;
    padding: 10px;
    // max-width: 1000px;
    overflow: auto;
  }
}
