@use 'styles/HideOnPrint';

.App {
}

.App_nav {
  @extend %HideOnPrint;

  position: sticky;
  top: 0;

  padding: 20px 0;
  background: white;
  border-bottom: solid 1px gray;
}

.App_nav_content {
  width: 100%;

  @media screen and (min-width: 1441px) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.App_content {
  width: 100%;

  display: flex;
  flex-direction: row;

  @media not print {
    padding-top: 20px;
  }

  @media screen, not print and (min-width: 1441px) {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.App_content_configuration {
  @extend %HideOnPrint;

  flex: auto 1 1;
}

.App_content_grid {
  overflow: scroll;
  max-width: 1000px;

  @media not print {
    padding-right: 20px;
  }
}
