.Configuration {
  display: grid;

  grid-template-columns: repeat(2, auto);
  justify-content: left;
  gap: 10px;
}

.Configuration_label {
  text-align: right;
  grid-column: 1;
}

.Configuration_errorMessage {
  grid-column: 2;
  color: red;
  margin: 0;
}

.Configuration_button {
  grid-column: 1 / span 2;
}
